affine==3.0.1
astropy==8.0.1
astropy-iers-data==0.2026.9.14.0.56.43
asttokens==3.0.2
attrs==26.1.0
build==1.6.1
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
click==8.5.0
contourpy==1.4.0
coverage==7.16.1
cryptography==50.0.1
cycler==0.12.1
decorator==5.3.1
docutils==0.23
executing==2.2.1
fonttools==4.65.0
hypothesis==6.168.0
id==1.6.1
idna==3.19
iniconfig==2.3.0
ipdb==0.13.13
ipython==9.17.1
ipython_pygments_lexers==1.1.1
jaraco.classes==3.4.0
jaraco.context==6.1.2
jaraco.functools==4.6.0
jedi==0.20.0
jeepney==0.9.0
keyring==25.7.0
kiwisolver==1.5.1
markdown-it-py==4.2.0
matplotlib==3.11.2
matplotlib-inline==0.2.2
mdurl==0.1.2
more-itertools==11.1.0
nh3==0.3.7
numpy==2.5.3
packaging==26.3
pandas==3.0.5
parso==0.8.7
pexpect==4.9.0
pillow==12.3.0
pluggy==1.6.0
prompt_toolkit==3.0.53
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.4
pycparser==3.0
pycraf==2.1.0
pyerfa==2.0.1.5
Pygments==2.21.0
pyparsing==3.3.2
pyproj==3.8.0
pyproject_hooks==1.3.0
pytest==9.1.1
pytest-arraydiff==0.7.0
pytest-astropy==0.12.0
pytest-astropy-header==0.2.2
pytest-cov==7.1.0
pytest-doctestplus==1.7.1
pytest-filter-subpackage==0.2.0
pytest-mock==3.15.1
pytest-remotedata==0.4.2
pytest-skip-slow==1.1.0
python-dateutil==2.9.0.post0
PyYAML==6.0.3
rasterio==1.5.1
readme_renderer==46.0
requests==2.34.2
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==15.0.0
scipy==1.18.1
SecretStorage==3.5.0
setuptools==84.0.0
setuptools-scm==10.2.3
sgp4==2.27
six==1.17.0
sortedcontainers==2.4.0
stack-data==0.6.3
traitlets==5.16.1
twine==7.0.0
urllib3==2.8.0
vcs-versioning==2.4.0
wcwidth==0.8.3
wheel==0.48.0
